.Shop_container {
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Shop_container h1 {
  font-size: 1.4rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: lightslategray;
  margin-bottom: 10px;
}

.product_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.product_items {
  min-height: 270px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.product_items h3 {
  font-size: 13px;
  line-height: 1.2;
  font-weight: 200;
}

.product_items p {
  font-size: 15px;
}

.price_tag {
  position: absolute;
  top: 2px;
  left: 0;
  padding: 2px;
  color: rgb(25, 189, 226);
  background-color: black;
  border-radius: 15px;
  padding: 2px;
  width: 55px;
  height: 20px;
}

.product_items:hover {
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color ease-in 0.15s, transform ease-in 0.15s;
  transform: scale(0.9);
}

.btnCartContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 3px;
}

.cartButton {
  border: none;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 8px;
  color: #ffffff;
  font-weight: 700;
  background-color: rgb(235, 92, 20);
  border-radius: 5px;
}

.cartIcon {
  width: 15px;
  height: 17;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartButton:hover {
  background-color: rgb(73, 14, 129);
  transition: background-color ease-in 1s;
  cursor: pointer;
}

.quantityContainer {
  border: 1px solid red;
  width: 100px;
  height: 20px;
  display: flex;
  position: absolute;
  bottom: 50px;
}

.quantityInput {
  border: 1px solid green;
  width: 100%;
  padding: 5px;
}

.quantityBtn {
  border: none;
  padding: 2px 5px;
  width: 100%;
  text-align: center;
}
.quantityBtn:hover {
  cursor: pointer;
}
